body {
  margin: 0;
  background-color: black;
  color: white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* NAV BAR */
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10em;
  margin: 1em 0em;
}

.nav-bar-menu {
  display: flex;
  align-items: center;
  gap: 1em;
}

.nav-bar > * {
  cursor: pointer;
}

/* HOME PAGE */

.home-page {
  display: flex;
  width: 50%;
}
.home-description {
  display: flex;
}

.home-img {
  width: 250px;
  height: 250px;
}
